{% extends "layout/default.html.twig" %}

{% block body %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="media g-mb-30 media-comment">
					<div class="media-body u-shadow-v18 g-pa-30">
						<div class="g-mb-15">
							<h5 class="h5 g-color-gray-dark-v1 mb-0">{{article.title|upper}}</h5>
                        </div>
							<br>
							<p>{{article.description|raw}}</p>
					</div>
				</div>
			</div>
		</div>
    </div>    

	{% endblock %}
